${title}


${description}


Description
===========

A longer description of your project goes here...


Note
====

This project has been set up using PyScaffold ${version}. For details and usage
information on PyScaffold see http://pyscaffold.readthedocs.org/.
