# .coveragerc to control coverage.py
# See https://coverage.readthedocs.io/en/stable/config.html
[run]
branch = True
# omit = bad_file.py

[paths]
# Paths that should be considered equivalent
source =
    src/
    */site-packages/
