import argparse
from typing import List

# TODO: use built-in `list` instead of `List` for Python >= 3.9

def fib(n: int) -> int: ...
def parse_args(args: List[str]) -> argparse.Namespace: ...
def setup_logging(loglevel: int): ...
def main(args: List[str]): ...
def run(): ...
