${title}


${description}


Description
===========

A LONGER DESCRIPTION OF YOUR PROJECT GOES HERE...


Note
====

This project has been set up using PyScaffold ${version}. For details and usage
information on PyScaffold see http://pyscaffold.readthedocs.org/.
